.app {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.input-block {
  font-size: 14px;
  line-height: 18px;
}

.input-block__form {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 5px;
}

.form__input {
  padding: 3px;
  margin-bottom: 5px;
}

.output-block {
  margin-top: 15px;
  font-size: 14px;
  line-height: 18px;
}
